.container{
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
}
.header-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 85px;
}
.logo{ 
    font-size: 36px;
    color: #13183F;
    font-weight: 800;
    line-height: 45px;
}
.button1{
    background-color: #13183F;
    width: 167px;
    height: 56px;
    border-radius: 28px;
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
    
}
.button1:hover{
    background-color: #666CA3;
    cursor:grab;
}

/* start section1 */
.secrion1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-box{
    width: 60%;
    display: flex;
    flex-direction: column;
}
.h1{
    max-width: 457px;
    width: 100%;
    font-size: 56px;
    font-weight: 800;
    color: #13183F;
    line-height: 71px;
    margin-bottom: 29px;
}
.p1{
    max-width: 445px;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    color: #83869A;
    line-height: 28px;
    margin-bottom: 40px;
}
.button2{
    width: 167px;
    height: 63px;
    border-radius: 31px;
    background-image: linear-gradient(#FF6F48,#F02AA6);
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 700;
}
.button2:hover{
    color: #FFFFFF;
    opacity: 50%;
}

img{
    position: absolute;
    top: -180px;
    right: -350px

}
.section1-1{
    margin-bottom: 270px;
}
/* start section2 */
.section2-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.box-1{
    max-width: 350px;
    width: 100%;
    height: 322px;
    border-radius: 15px;
    background-image: linear-gradient(#FF6F48,#F02AA6);

}
.h2{
    width: 286px;
    font-size: 38px;
    font-weight: 800;
    line-height: 40px;
    color: #FFFFFF;
    margin: auto;
    padding-top: 64px;
    margin-bottom: 138px;
}
